*
{
	padding: 0;
	margin: 0;
}

html, body
{
	background-color: #223;
	color: #d9d9d9;
	font-family: 'Verdana';
	font-weight: 1em;
}

body
{
	background-color: transparent;
}

h1
{
	font-size: 1.4em;
	line-height: 1.6em;
	text-align: center;
	margin: 0;
	padding: 0;
}

nav
{
	text-align: center;
}

.search-query:before
{
	/*content: '\"';*/
}

.search-query:after
{
	/*content: '\"';*/
}

.search-result-container
{
	/* FIXME: IE6 doesn't support css grid container. */
	display: table;
}

.search-result-numpages
{

}

.search-result-item
{
	display: inline-table;
	width: 350px;
	height: 200px;
	text-align: center;
	padding-bottom: 20px;
}

.search-result-item:hover
{
	background-color: #334;
}

.item-button
{
	background: 0;
	border: 0;
	margin: 0;
	padding: 0;
}

.item-button:hover
{
	cursor: pointer;
	/*box-shadow: 0px 0px 25px rgba(0,0,0,.5);*/
}

.item-button
{
	display: block;
	width: 350px;
	height: 506px;
	position: relative;
}

.item-cover
{
	display: block;
	/*
	max-width: 100%;
	height: auto;
	*/
	width: 350px;
	height: 506px;
}

/* BUG: can't set a fixed size to item-title span */
/* BUG: item-title span doesn't display ellipsis after 2 lines */
/* BUG: item-title span overflows its container */

.item-title-container
{
	width:100%;
	/*height: 380px;*/
	/*
	position: relative;
	top: 0px;
	*/
	display: table-row;
	text-align: center;
	height: 100%;
}

.item-title
{
	color: white;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	display: block;
	height: 100%;
	width:100%;
	text-align: center;
}


button.tag-ignorelist img
{
	filter: blur(10px) grayscale(100%);
	transform: translate(-10px, -10px);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=10.0, enabled='true')
	progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

button.tag-ignorelist img:hover
{
	transform: none;
	filter: none;
}

span.tag-blacklist
{
	color: red;
}

span.tag-whitelist
{
	font-weight: bold;
	color: yellow;
}

span.tag-ignorelist
{
}

span.tag-hidelist
{
}

#tag-container-12227:before/*english*/
{
	content: url(../images/shared/country-flags/23x17/GB.png);
	padding-right: 6px;
}

#tag-container-6346:before/*japanese*/
{
	content: url(../images/shared/country-flags/23x17/JP.png);
	padding-right: 6px;
}

#tag-container-29963:before/*chinese*/
{
	content: url(../images/shared/country-flags/23x17/CN.png);
	padding-right: 6px;
}

#tag-container-102632:before/*cebuano*/
{
	content: url(../images/shared/country-flags/23x17/PH.png);
	padding-right: 6px;
}


.nav-button
{
	padding: 6px;
	/*width: 150px;*/
}

#nav-button-top
{
	/*
	position: relative;
	top: -20px;
	float: right;
	margin-right: 10px;
	*/
	float: left;
	margin-left: 10px;
}

#nav-button-bottom
{
	/*
	clear: right;
	position: relative;
	top: -20px;
	float: right;
	margin-right: 10px;
	*/
	float: right;
	margin-right: 10px;
}


#header-hotspot
, #footer-hotspot
{
	width: 100%;
	height: 60px;
	/* HACK: without this, IE will not display the element and thus won't respond to mouse events. */
	background-color: rgba(255, 255, 255, 0);
}


#header
{
	color: #222;
	padding-bottom: 10px;

	width: 100%;
	opacity: 0;
	background-color: rgba(245, 245, 245, 0.9);
	height: 80px;
	z-index: 1;
}

#header:hover
{
	opacity: 1;
}

.fixed-top
{
	position: fixed;
	top: 0;
}

.fixed-bottom
{
	position: fixed;
	bottom: 0;
}

#page-index-input
{
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	width: 60px;
	height: 28px;
}

#footer
{
	background-color: rgba(245, 245, 245, 0.9);
	color: #222;
	padding-top: 10px;
	padding-bottom: 10px;

	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: 0;
}

#footer:hover
{
	opacity: 1;
}

#toast
{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 300px;
}

#main
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 0;
}

#nav-button-first:before
{
	content: url(../images/search/navbar/16x16/go-first-page.png);
}

#nav-button-previous:before
{
	content: url(../images/search/navbar/16x16/go-previous-page.png);
}

#nav-button-next:before
{
	content: url(../images/search/navbar/16x16/go-next-page.png);
}

#nav-button-last:before
{
	content: url(../images/search/navbar/16x16/go-last-page.png);
}

#nav-button-top:before
{
	content: url(../images/search/navbar/16x16/scroll-to-top.png);
}

#nav-button-bottom:before
{
	content: url(../images/search/navbar/16x16/scroll-to-bottom.png);
}

.nav-button:disabled
{
	opacity: 0.25;
}

.display-none
{
	display: none;
}

.item-cover-loading
{
	vertical-align: middle;
	text-align: center;
	width: 350px;
	height: 506px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.item-cover-loading img
{
	margin-top: 189px;
	width: 128px;
	height: 128px;
}
